<ion-view title="dialogs" ng-controller="DialogsCtrl as vm">
<ion-content class="has-header">
<button class="button button-full button-positive" ng-click="vm.alert()">Alert</button>
<button class="button button-full button-positive"
	ng-click="vm.confirm()">Confirm</button>
<button class="button button-full button-positive"
	ng-click="vm.prompt()">Prompt</button>
<button class="button button-full button-positive" ng-click="vm.beep()">Beep</button>
<button class="button button-full button-positive" ng-click="vm.vib()">vib</button>
<button class="button button-full button-positive" ng-click="vm.takePic()">Take Picture</button>
<button class="button button-full button-positive" ng-click="vm.selectPic()">Select Picture</button>
Online :{{vm.isOnline}}
Offline :{{vm.isOffline}}

<div class="card">
<div class="item item-image">
<img alt="" ng-src="{{vm.imageSrc}}">
</div>
</div>

</ion-content> </ion-view>